.custom-search-form {
    width: 100%;

    .search-with-icon {

        .search-field {
            border: none !important;
            border-radius: 0 !important;
            background-color: white !important;
            padding: 5px 5px 5px 30px;
            font-style: italic;
        }
    }
}