#mobile_nav_wrap {
    display: none;
    cursor: pointer;

    .mobile-nav-trigger-open {
        display: none;
        margin: 0px 20px;
        font-size: 18px;

        @include respond-to(large, max){
            display: block;
        }
    }

    &.toggled {
        .mobile-nav-trigger-open {
            display: none;
        }
    }

    @include respond-to(large, min) {
        display: block;
    }

    

    @include respond-to(large, max) {
        display: block;

        @at-root body.customize-support {
            #mobile_nav_wrap {
                .mobile-nav-outer {
                    top: 92px;
                }
            }

            // #site-navigation {
            //     display: none !important;
            // }
            
            &.lock_nav {
                #mobile_nav_wrap {
                    .mobile-nav-outer {
                        top: 46px;
                    }
                }
            }
        }
    }
}

.mobile-nav-outer {
    @include flex(col, start, start);
    position: fixed;
    max-width: 355px;
    padding-top: 50px;
    width: 100%;
    top: 0;
    right: -500px;
    bottom: 0;
    background: white;
    overflow-y: scroll;
    z-index: 1000000;

    @at-root #colophon {
        .mobile-nav-outer {
            color: $primary_color;
            
            a {
                @extend %nav_link;
            }
        }
    }
    
    a {
        @extend %nav_link;
    }

    .mobile-nav-trigger-close {
        display: block;
        font-size: 18px;
        position: absolute;
        top: 60px;
        right: 27px;
        width: 20px;
        height: 20px;

        @at-root #masthead.lock_nav {
            #mobile_nav_wrap {
                .mobile-nav-trigger-close {
                    top: 13px;
                }
            }
        }

        @include respond-to(large, max){
            top: 13px;
        }
    }

    &::-webkit-scrollbar {
        width: 1px;
    }
    
    &::-webkit-scrollbar-track {
        background: $secondary_color;
        width: 1px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary_color;
        width: 1px;
    }

    @at-root {
        body.customize-support {
            #mobile_nav_wrap {
                .mobile-nav-outer {
                    top: 32px;

                    @include respond-to(782, max){
                        top: 46px;
                    }
                }
            }

            #masthead.lock_nav {
                #mobile_nav_wrap {
                    .mobile-nav-outer {
                        top: 0;
                    }
                }
            }
        }
    }

    .mobile-nav-image {
        width: 100%;
    }

    .mobile-nav-body {
        width: 100%;
        padding: 30px;

        & > * {
            width: 100%;
        }
        
        #mobile_logo {
            position: relative;
            width: 100%;
            text-align: center;
            margin: 0;

            img {
                width: 100%;
                max-width: 350px;
                margin: 0 auto;
            }
        }

        #mobile_menu_container {
            width: 100%;
            
            #mobile_menu {
                @extend %nav;
                @include flex(col, start, start);
                width: 100%;
                text-align: left;

                // @include respond-to(medium, max){
                //     -webkit-columns: 120px 5;
                //     -moz-columns: 120px 5;
                //     columns: 120px 5;
                // }

                .menu-item {

                    a {
                        display: block;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .mobile-cta {
            margin: 20px 0;
        }

        .social-icons {
            margin: 35px 0;
        }

        #mobile_search {
            margin-bottom: 35px;

            .icon {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            .widget {
                margin: 0;
                width: 100%;

                input {
                    width: 100%;
                }
            }
        }
    }

    @include respond-to(large, max){
        padding-top: 45px;
    }
}

#mobile_nav_bg {
    display: none;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}